html, body {
  height: 100%;
  width: 100%;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button,
audio::-webkit-media-controls-fullscreen-button,
audio::-webkit-media-controls-rewind-button,
audio::-webkit-media-controls-return-to-realtime-button {
  display: none !important;
  background: transparent;
}

audio::-webkit-media-controls-timeline {
  display: block !important;
  width: 100%;
}
audio::-webkit-media-controls-overflow-menu-button{
  display: none !important;
}