html, body {
  height: 100%;
  width: 100%;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button,
audio::-webkit-media-controls-fullscreen-button,
audio::-webkit-media-controls-rewind-button,
audio::-webkit-media-controls-return-to-realtime-button {
  display: none !important;
  background: transparent;
}

audio::-webkit-media-controls-timeline {
  display: block !important;
  width: 100%;
}
audio::-webkit-media-controls-overflow-menu-button{
  display: none !important;
}

.text-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  display: flex;
}

.text-content {
  display: flex;
  align-items: center;
  will-change: transform;
  transition: transform 0.5s ease-out;
}

.track-name, .artist-names {
  display: inline-block;
  padding-right: 1rem; /* Adjust spacing between elements if needed */
}
